@tailwind base;
@tailwind components;
@tailwind utilities;



/* overwite default */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  color-scheme: light dark;
  /* color: rgba(0, 0, 0, 0.87); */
  background-color: $mainBgColor;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --van-sidebar-selected-border-height: 44px !important;
  --van-sidebar-selected-border-width: 2px !important;
  --van-nav-bar-background: $mainBgColor  !important;
  --van-nav-bar-title-text-color: $text-color  !important;
  --van-uploader-upload-background: var(--upload_bg) !important;
  --van-index-anchor-text-color: #fff !important;
}

html,
body {
  // width: 8.28rem;
  max-width: 828px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  color: $mainTextColor;
  background-color: $mainBgColor;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

@supports (bottom: constant(safe-area-inset-bottom)) {
  body {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.safe-area-pb {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.pb-fix {
  padding-bottom: calc(60px + constant(safe-area-inset-bottom)) !important;
  padding-bottom: calc(60px + env(safe-area-inset-bottom)) !important;
}

input {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #c0c4cc;
}

ul,
li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

/* component css */
.divider {
  height: 6px;
  width: 100%;
  background: $second-bg;
}

.no-data-img {
  width: 90px !important;
  height: 90px !important;
  opacity: 0.6;
}

.van-swipe__indicators {

  .van-swipe__indicator {
    background-color: $dot-alp;
  }

  .van-swipe__indicator--active {
    background-color: $active_line  !important;
  }
}


.inputBackground {
  background: #1B233B;
}

.colorMain {
  color: #1194F7;
}

.btnMain {
  background: #1194F7;
}

#cryptos .btnMain {
  background: linear-gradient(90deg, #2C64D4 0%, #38AEEA 100%)
}

.leftReturn {
  width: 7px;
  height: 14px;
}



.text-grey {
  color: #818181;
}

.text-blue {
  color: $blue;
}

/***************** global use framework *****************/

/* flex */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.flex-1 {
  flex: 1
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.align-center {
  align-content: center;
}

/* display */
.block {
  display: block;
}

/* position */
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.z-10 {
  z-index: 10;
}

/* font */
.font-bold {
  font-weight: bold;
}

.font-normal {
  font-weight: normal;
}

/* text */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.border-none {
  border: none;
  outline: none;
}

/* border radius */
.rounded-sm {
  border-radius: 2px;
}

.rounded {
  border-radius: 4px;
}

.rounded-md {
  border-radius: 6px;
}

.rounded-lg {
  border-radius: 8px;
}

.rounded-xl {
  border-radius: 12px;
}

.rounded-2xl {
  border-radius: 16px;
}

.rounded-full {
  border-radius: 9999px;
}

/** box-sizing */
.box-border {
  box-sizing: border-box;
}

/* border */
.border {
  border-width: 1px;
}

/* 解决重复点击报错的问题 */
//* { touch-action: pan-y; }
//left
.left-0 {
  left: 0;
}

.left-22 {
  left: 22px;
}

.left-24 {
  left: 24px;
}

.left-25 {
  left: 25px;
}

.left-28 {
  left: 28px;
}

//right
.right-0 {
  right: 0;
}

.right-10 {
  right: 10px;
}

.right-19 {
  right: 19px;
}

.right-20 {
  right: 20px;
}

.right-22 {
  right: 22px;
}

.right-34 {
  right: 34px;
}

//top
.top-0 {
  top: 0;
}

.top-97 {
  top: 97px;
}

.top-20 {
  top: 20px;
}

.top-10 {
  top: 10px;
}

.top-46 {
  top: 46px;
}

.top-122 {
  top: 122px;
}

//bottom
.bottom-0 {
  bottom: 0;
}

.bottom-28 {
  bottom: 28px;
}

.bottom-30 {
  bottom: 30px;
}

.bottom-90 {
  bottom: 30px;
}

.bottom-108 {
  bottom: 108px;
}

//line-height
.lh-152 {
  line-height: 152px;
}

.border-none {
  border: none !important;
  outline: none !important;
}